<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despliegue</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <h1>Wiki Equipo (Nombre)</h1>
    </header>
    <nav>
        <div class="menu-container">
            <button class="menu-button">Menú
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#">Descripción del Proyecto</a>
                <a href="#">Requerimientos</a>
                <a href="#">Arquitectura</a>
                <a href="#">Modelos</a>
                <a href="#">Desarrollo</a>
                <a href="/pruebas">Pruebas</a>
                <a href="/despliegue">Despliegue</a>
            </div>
        </div>
        <div class="nav-element">
            <a href="/index" >Portada</a>
        </div>
        <div class="nav-element" id="nav-selected">
            <a href="@{/arquitectura}">Contáctenos</a>
        </div>
    </nav>
    <main>
        <section>
            <h2>Despliegue de la Aplicación</h2>
            <p>Detalles sobre el despliegue de la aplicación...</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Wiki del Equipo</p>
    </footer>
</body>
</html>
